:root {

  --per100-val:100% ;
  --pix100-val: 100px;
  --pix5-val: 5px;
  --pix10-val: 10px;
  --pix15-val: 15px;
  --vw100-val:100vw;
  --rem05-val:0.5rem;
  --rem1-val:1rem;
  --table-boxShadow-val: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  --th-border : solid rgba(200, 200, 200, 1) 1px;
  --th-borderButtom :rgba(50, 50, 100, 0) solid 2px;

}
